name: oidc test

on:
  push:
    branches: [main]

# 本当はterraformのproviderでassume_role設定してやる
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # OIDCに必須
      contents: read
    steps:
      # 1. Gateway Roleへ認証 (OIDC)
      - name: Configure AWS Credentials (Gateway)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::752995909937:role/Github-Gateway-Role
          aws-region: ap-northeast-1

      # 2.a. ターゲットロールへAssumeRoleし、コマンド実行
      - name: Run command in test01 Account
        run: |
          # Gateway Roleの権限を使ってターゲットロールのCredentialsを取得
          CREDS=$(aws sts assume-role \
            --role-arn arn:aws:iam::843998948703:role/Platform-Provision-Role \
            --role-session-name deployment-session \
            --query "Credentials" \
            --output json)
            
          # 環境変数にセット
          export AWS_ACCESS_KEY_ID=$(echo $CREDS | jq -r .AccessKeyId)
          export AWS_SECRET_ACCESS_KEY=$(echo $CREDS | jq -r .SecretAccessKey)
          export AWS_SESSION_TOKEN=$(echo $CREDS | jq -r .SessionToken)

          # ターゲットアカウントでの操作確認
          aws sts get-caller-identity


      # 2.b. ターゲットロールへAssumeRoleし、コマンド実行
      - name: Run command in management Account
        run: |
          # Gateway Roleの権限を使ってターゲットロールのCredentialsを取得
          CREDS=$(aws sts assume-role \
            --role-arn arn:aws:iam::844649515264:role/Org-Lifecycle-Role \
            --role-session-name deployment-session \
            --query "Credentials" \
            --output json)
            
          # 環境変数にセット
          export AWS_ACCESS_KEY_ID=$(echo $CREDS | jq -r .AccessKeyId)
          export AWS_SECRET_ACCESS_KEY=$(echo $CREDS | jq -r .SecretAccessKey)
          export AWS_SESSION_TOKEN=$(echo $CREDS | jq -r .SessionToken)

          # ターゲットアカウントでの操作確認
          aws sts get-caller-identity
